:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --fill-silver: #F5F4FA;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
    --footer-text-color: rgba(255, 255, 255, 0.6);
  
}

body{
    background-color: var(--wite-color);
    color: var(--title-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em
        
}

.logo{
    font-family: Raleway, sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    outline: none;

    margin-right: 85px;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--accent-color);
}


.logo:hover,
.logo:focus{
    color: var(--accent-color);
}

ul{
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Site nav */

.site-nav{
    display: flex;
    align-items: center;   
}

.site-nav .item + .item{
    margin-left: 50px;
}

.site-nav .link{
    position: relative;
    display: flex;
    transition: color 250ms var(--cubic);
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
} 

.link.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    margin-top: 28px;

    width: 100%;
    height: 4px;

    background: var(--accent-color);
    border-radius: 2px;

    animation: lower-border 2000ms ease-in-out infinite alternate;
}

@keyframes lower-border{
    0%{
        left: -105%;
    }
    100%{
        left: 105%;
    }
}


.connection-nav{
    display: flex;
    align-items: center;
}

.connection-nav li{
    margin-right: 50px;
}

.connection-nav li:nth-child(2n){
    margin-right: 0px;
}

.connection-nav .link{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
   color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: none;
    transition: color var(--transition-duration) var(--cubic);
}




.icon-contact{
    fill: var(--primary-text-color);
    margin-right: 10px;

    transition: fill var(--transition-duration) var(--cubic);
}

.connection-nav .link:hover,
.connection-nav .link:focus{
    color: var(--accent-color);
}

.connection-nav .link:hover > .icon-contact,
.connection-nav .link:focus > .icon-contact{
    fill: var(--accent-color);
}


/* footer */

footer{
    background-color: #2F303A;
}
    
.endbox{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logotipe{
    padding-top: 45px;
    margin-bottom: 8px;
}

.logo.footer{
    margin: 0;
}

.address{
    margin-bottom: 9px;
    color: var(--white-color);
    font-style: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts-address .link{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    
}

.developed{
    padding-bottom: 21px;
    padding-top: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
}


.finish{
    margin-bottom: 21px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
}

.finish input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    background: #2F303A;  
}

.footer-form{
    vertical-align: middle;
    padding: 18px 12px;
    margin-right: 8px;
    width: 358px;
    height: 50px;
    font-size: 16px;
    line-height: 1.87;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--footer-text-color);
    background-color: unset;
}

.icon-send{
    margin-left: 10px;
    width: 24px; 
    height:24px;
}

.finish-social{
    display: flex;
}

.finish-social li + li{
    margin-left: 10px;
}

.commands-case.botton{
    background-color: rgba(255, 255, 255, 0.1);
}

.finishbox{
    display: flex;
    margin-left: 94px;
}

.invitation{
    padding-top: 56px;
    margin-left: 69px;
}