/* Основной цвет текста #212121 */

/* Вторичный цвет текста #757575 */

/* белый цвет #FFFFFF */

/* вторичный цвет фона #F5F4FA */

/* акцент  #2196F3 */

/* Оформление слова Studio */
.wite{
    color: var(--white-color);
}
.back{
    color: var(--title-text-color);
    font-family: Raleway
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


/* Button */

.button{
    color: var(--white-color);
    background: var(--accent-color);
    
    font-family: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    min-width: 200px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    padding: 10px 32px;
    cursor: pointer;
}

.button.secondary{
    display: inline-flex;
    align-self: flex-end;
    height: 50px;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    padding: 10px 29px;
}


/* Разметка шапки */

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    width: 1200px;
}

.main-nav{
    display: flex;
    
}

.page-header{
    display: flex;
    justify-content: space-between;
}


/* Hero */

.hero{ 
    display: flex;
    align-items: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
     ), url(../images/Header\ img.jpg);
   
    background-color:black;
}

.hero-title{
    width: 646px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 46px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white-color);
}

.container-hero{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    width: 1200px;
}



/* Section */

.section{
    padding-bottom: 94px;
    padding-top: 94px;
}

.section-title{
    margin-bottom: 50px;
    margin-top: 0px;
    
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Feauters */
.section.features{
    padding-bottom: 0px
}

.feat{
    padding-bottom: 94px;
    border-bottom: 1px solid #ECECEC;
}

.features{
    display: flex; 
}

.features li{
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.features li:nth-child(4n){
    margin-right: 0px;
}


.features-icon{
    display: block;
    width: 270px;
    height: 120px;
    padding: 25px 102px;
    background: var(--fill-silver);
    border-radius: 4px;
    margin-bottom: 30px;
}


.features .title{
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--titlt-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .text{
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

 /* Перечень занятий */

.section .scroll{
     display: flex;
 }

 .scroll .works{
     width: calc((100% - 60px) / 3);
     margin-right: 30px;
 }

.works:nth-child(3n){
     margin-right: 0px;
 }

 .works-box{
     position: relative;
 }

.title-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    cursor: pointer;
}

.scroll .title{
    margin-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);;
}

/* Команда */

.people{
    padding-top: 94px;
    margin-bottom: 50px;
}

.section-team{
    background-color: var(--fill-silver);

}

.commands{
    margin-bottom: 94px;
    background: var(--white-color);
    border-radius: 4px;

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 1px 3px rgba(0, 0, 0, 0.12);
}

.commands > .foto{
    margin-bottom: 30px;
}

.team{
    display: flex;
}


.team .commands{
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.commands:nth-child(4n){
    margin-right: 0px;
}

.team .foto{
    display: block;
}

.team .title{
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .profession{
    margin-top: 0px;
    margin-bottom: 16px;

    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.03em;
}

.social{
    display: flex;
    justify-content: center;
}

.social .commands-case{
    width: calc((100% - 30px)) / 4;
    margin-right: 10px;
}

.social .commands-case:nth-child(4n){
    margin-right: 0px;
}

.commands-case{
    display: flex;
    height: 44px; 
    border-radius: 50%;
    margin-bottom: 24px;
}

.commands-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    border-radius: 50%;
    outline: none;

    transition: background-color var(--transition-duration) var(--cubic),
                color var(--transition-duration) var(--cubic);
}

.commands-icon{
    fill: #afb1b8;
}

.commands-case .commands-link:hover,
.commands-case .commands-link:focus{
    background-color: var(--accent-color);
}

.commands-case .commands-link:hover > .commands-icon,
.commands-case .commands-link:focus > .commands-icon{
    fill: var(--white-color);
}


/* Клиент */


.clients{
    display: flex;
}

.clients li{
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
}

.clients li:nth-child(6n){
    margin-right: 0px;
}

.clients-compani{
    position: relative;
    
}

.clients-icon{
    fill: #afb1b8;
    height: 90px;
    transition: fill var(--transition-duration) var(--cubic);
}

.clients-link::before{
    position: absolute;
    left: 0;
    top: 0;
    transition: border var(--transition-duration) var(--cubic);

    display: block;
    content: '';
    width: 170px;
    height: 90px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;


}

.clients-link{
    
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: fill var(--transition-duration) var(--cubic);
}


.clients-link:hover .clients-icon {
    fill: var(--accent-color);
}

.clients-compani:hover ::before{
    border: 1px solid  var(--accent-color);
}



/* Модалка */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1024px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity var(--transition-duration) var(--cubic);
    }
    
    .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    }
    
    .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
    }
    
    .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    
    width: 528px;
    height: 581px;
    
    background-color: var(--white-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--cubic);
    }

.button.send{
    display: block;
    margin: auto;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}
    
.close-button {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    overflow: hidden;
    
    width: 30px;
    height: 30px;
    
    cursor: pointer;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    
    transform: translate(25%, -25%) scale(1);
    transition: transform var(--transition-duration) var(--cubic);
}
    
    
    /* Форма регистрации*/
    
.form-text {
    display: inline-block;
    margin-bottom: 30px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}
    
.form-container {
    margin-bottom: 20px;
}
    
.form-field {
    position: relative;
    display: block;
}
    
.form-field:not(:last-child) {
    margin-bottom: 28px;
}
    
.form-label {
    position: absolute;
    top: 12px;
    left: 42px;
    margin-bottom: 0;
    
    font-size: 14px;
    letter-spacing: 0.01em;
    
    color: var(--primary-text-color);
    
    transform: translateY(0) scale(1);
    transition: transform var(--transition-duration) var(--cubic), 
                color var(--transition-duration) var(--cubic);
}
    
.icon-input {
    position: absolute;
    top: 10px;
    left: 16px;
    
    pointer-events: none;
    transition: all var(--transition-duration) var(--cubic);
}
    
.form-input:hover ~ .icon-input,
.form-input:focus ~ .icon-input,
.form-input:not(:placeholder-shown) ~ .icon-input {
    fill: var(--accent-color);
    transition: all var(--transition-duration) var(--cubic);
}
    
.form-input {
    padding-left: 42px ;
    width: 100%;
    height: 40px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    transition: border-color var(--transition-duration) var(--cubic);
}
    
.form-input:hover,
.form-input:focus,
.form-input:not(:placeholder-shown) {
    border-color: var(--accent-color);
    transition: border-color var(--transition-duration) var(--cubic);
}
    
.form-input:hover + .form-label,
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    color: var(--accent-color);
    
    transform: translate(-26px,-32px) scale(0.86);
    transition: transform var(--transition-duration) var(--cubic), 
                color var(--transition-duration) var(--cubic);
}
    
.comment {
    padding: 12px 16px;
    
    resize: none;
    height: 120px;
}
    
.comment-label {
    left: 16px;
}
    
.form-input:hover + .comment-label,
.form-input:focus + .comment-label,
.form-input:not(:placeholder-shown) + .comment-label {
    transform: translateY(-32px) translateX(-6px)  scale(0.86);
    transition: transform var(--transition-duration) var(--cubic);
}

.form-checkbox.container {
    margin-bottom: 30px;
 }

.checkbox-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.label{
    display: block;
}

.checkbox-icon {
    display: inline-block;
    margin-right: 5px;
    
    width: 15px;
    height: 15px;
    cursor: pointer;
    
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    
    vertical-align: sub;
    transition: transform var(--transition-duration) var(--cubic);
}
    
.checkbox-input:checked + .checkbox-icon {
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
    
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    
    transform: scale(1.2);
    transition: transform var(--transition-duration) var(--cubic);
}
    

.checkbox-text {
    line-height: 1.71;    
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
}

.policy {
    color: var(--accent-color);
}
        


/*scc для portfolio*/
.section-project{
    text-align: center;
}

.container.case{
    padding-top: 93px;
}

.button-case{
    display: flex;
    justify-content: center;
    list-style: none;
}

.portfolio{
    margin-bottom: 50px;
    margin-right: 8px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: var(--fill-silver);
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: transparent;
    outline: none;
    cursor: pointer;
    
    transition: background var(--transition-duration) var(--cubic),
                color var(--transition-duration) var(--cubic);
}

.portfolio:hover,
.portfolio:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}

.project{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}

.project-list{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-list:nth-child(3n){
    margin-right: 0px;
}

.project-list:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

 .item{
    overflow: hidden;
}


.project .project-img{
    position: relative;

    text-decoration: none;
    background: var(--white-color);
    width: calc((100% - 60px) / 3);    
}

.card-container{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.project-img:hover .card-container,
.project-img:focus .card-container{
    box-shadow: 1px 4px 6px rgba(0,0,0,0.16),
                0px 4px 4px rgba(0,0,0,0.06),
                0px 1px 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow var(--transition-duration) var(--cubic);
}


.project-img:nth-child(3n){
    margin-right: 0px;
}

.project-img:nth-last-child(-n + 3){
    margin-bottom: 0;
}



.project .title{
    text-align: initial;
    margin: 0px;
    
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project .text{
    text-align: initial;
    margin: 0px;
   
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}


.card-box{
    position: relative;
    overflow: hidden;
}

.card-box::before{
    position: absolute;
    left: 0;
    transform: translateY(100%);
    transition: opacity  var(--transition-duration) var(--cubic),
                transform var(--transition-duration) var(--cubic);

    width: 100%;
    height: 100%;

    content: '';
    display: inline-block;
    
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
}



.overlay-box{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: opacity var(--transition-duration) var(--cubic),
                transform var(--transition-duration) var(--cubic);
    margin: 63px 24px;
    text-align: left;
    opacity: 0;
}

.project-img:hover .card-box::before,
.project-img:focus .card-box::before{
    opacity: 1;
    transform: translateY(0%);
}


.project-img:hover .overlay-box,
.project-img:focus .overlay-box{
    opacity: 1;
    transform: translateY(0%);
}

.project .text-overlay{
 
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    
    color: var(--white-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  